@@@MatterCSA @jumartin @jepenven @ricasall @makardou @selissia
@@@MatterWatt @jumartin @jepenven @ricasall @makardou @selissia @rerasool
@@@MatterWifi @mamehta
@@@Documentation @wehale @caowens @rerasool
@@@Unify @anesbens @dejensen @thbowley @dewassie @svradema
@@@CICD @gbash @yushu @shmakdis @jepenven

# Pipeline rule
Jenkinsfile @@MatterWatt @@CICD
silabs_ci_scripts/ @@MatterWatt @@CICD

# Documentation is everyone business
**/*.md @@Documentation

# Shared folder with CSA
build/ @@MatterCSA
build_overrides/ @@MatterCSA
config/ @@MatterCSA
credentials/ @@MatterCSA
docs/ @@MatterCSA
examples/ @@MatterCSA
integrations/ @@MatterCSA
scripts/ @@MatterCSA
src/ @@MatterCSA
third_party/ @@MatterCSA
zzz_generated/ @@MatterCSA


silabs_examples/ @@MatterWatt @@MatterWifi

silabs_examples/unify-matter-bridge/ @@Unify

CODEOWNERS               @@MatterWatt



# If a group is involved, at least one reviewer of the group must approve
(Check(@@MatterCSA >= 1))
(Check(@@Unify >= 1))
(Check(@@MatterWifi >= 1) | Check(@@MatterWatt >= 1))
(Check(@@CICD >= 1))

OverallCheck(2)
